{% extends 'main.html' %}

{% block content %}

<h1>Offices</h1>
<hr>
<a href="{% url 'create-birou' %}" class="btn btn-primary">Add Office</a>
<hr>

<table>
    <tr>
        <th>Cod</th>
        <th>Name</th>
        <th>Floors</th>
        <th>Building</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    {% for birou in birouri %}
    <tr>
        <td>{{birou.idOffice}}</td>
        <td>{{birou.nameOffice}}</td>
        <td>{{birou.floor}}</td>
        <td>{{birou.building}}</td>
        <td>|</td>
        <td><a href="{% url 'update-birou' birou.idOffice %}" class="btn btn-warning pull-right" >Edit</a></td>
        <td><a href="{% url 'delete-birou' birou.idOffice %}" class="btn btn-danger" >Delete</a></td>
        <td><a href="{% url 'birou' birou.idOffice %}" class="btn btn-info" target="_blank">View</a></td>
    </tr>
    

    {% endfor %}

</table>

{% endblock content %}
