{% extends 'main.html' %}

{% block content %}

<h1>Birouri</h1>
<hr>
<a href="{% url 'create-birou' %}">Adauga Birou</a>
<hr>

<table>
    <tr>
        <th>Cod</th>
        <th>Denumire</th>
        <th>Nr etaje</th>
        <th>Cladire</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    {% for birou in birouri %}
    <tr>
        <td>{{birou.idOffice}}</td>
        <td>{{birou.nameOffice}}</td>
        <td>{{birou.floor}}</td>
        <td>{{birou.building}}</td>
        <td>|</td>
        <td><a href="{% url 'update-birou' birou.idOffice %}" >Editare</a></td>
        <td><a href="{% url 'delete-birou' birou.idOffice %}" >Stergere</a></td>
        <td><a href="{% url 'birou' birou.idOffice %}" target="_blank">Vizualizare</a></td>
    </tr>
    

    {% endfor %}

</table>

{% endblock content %}
