{% extends 'main.html' %}

{% block content %}

<h1>Cladiri</h1>
<hr>
<a href="{% url 'create-cladire' %}">Adauga Cladire</a>
<hr>

<table>
    <tr>
        <th>Cod</th>
        <th>Denumire</th>
        <th>Nr etaje</th>
        <th></th>
        <th></th>
        
    </tr>
    {% for cladire in cladiri %}
    <tr>
        <td>{{cladire.codCladire}}</td>
        <td>{{cladire.denCladire}}</td>
        <td>{{cladire.nrEtaje}}</td>
        <td><a href="{% url 'update-cladire' cladire.codCladire %}" >Editare</a></td>
        <td><a href="{% url 'delete-cladire' cladire.codCladire %}" >Stergere</a></td>
        <td><a href="{% url 'cladire' cladire.codCladire %}" target="_blank">Vizualizare</a></td>
    </tr>
    

    {% endfor %}

</table>

{% endblock content %}
