{% extends 'main.html' %}

{% block content %}

<h1>Buildings</h1>
<hr>
<a href="{% url 'create-cladire' %}" class="btn btn-primary">Add Building</a>
<hr>

<table>
    <tr>
        <th>Cod</th>
        <th>Name</th>
        <th>Floors</th>
        <th></th>
        <th></th>
        
    </tr>
    {% for cladire in cladiri %}
    <tr>
        <td>{{cladire.codCladire}}</td>
        <td>{{cladire.denCladire}}</td>
        <td>{{cladire.nrEtaje}}</td>
        <td><a href="{% url 'update-cladire' cladire.codCladire %}" class="btn btn-warning pull-right">Edit</a></td>
        <td><a href="{% url 'delete-cladire' cladire.codCladire %}" class="btn btn-danger">Delete</a></td>
        <td><a href="{% url 'cladire' cladire.codCladire %}" class="btn btn-info" target="_blank">View</a></td>
    </tr>
    

    {% endfor %}

</table>

{% endblock content %}
