{% extends 'main.html' %}

{% block content %}

<h1>Desks</h1>
<hr>
<a href="{% url 'create-desk' %}" class="btn btn-primary">Add Desk</a>
<hr>

<table>
    <tr>
        <th>Cod</th>
        <th>Desk</th>
        <th>Number</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    {% for desk in desks %}
    <tr>
        <td>{{desk.idDesk}}</td>
        <td>{{desk.office}}</td>
        <td>{{desk.deskCount}}</td>
        <td>|</td>
        <td><a href="{% url 'update-desk' desk.idDesk %}" class="btn btn-warning pull-right">Edit</a></td>
        <td><a href="{% url 'delete-desk' desk.idDesk %}" class="btn btn-danger">Delete</a></td>
        <td><a href="{% url 'desk' desk.idDesk %}" class="btn btn-info"target="_blank">View</a></td>
    </tr>
    

    {% endfor %}

</table>

{% endblock content %}
