{% extends 'main.html' %}

{% block content %}

<h1>Employees</h1>
<hr>
<a href="{% url 'create-employee' %}"class="btn btn-primary">Add Employee</a>
<hr>

<table>
    <tr>
        <th>Cod</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Role</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{employee.idEmployee}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.role}}</td>
        <td>|</td>
        <td><a href="{% url 'update-employee' employee.idEmployee %}" class="btn btn-warning pull-right">Edit</a></td>
        <td><a href="{% url 'delete-employee' employee.idEmployee %}" class="btn btn-danger">Delete</a></td>
        <td><a href="{% url 'employee' employee.idEmployee %}" class="btn btn-info" target="_blank">View</a></td>
    </tr>
    

    {% endfor %}

</table>

{% endblock content %}
