{% extends 'main.html' %}

{% block content %}

<h1>Remotes</h1>
<hr>
<a href="{% url 'create-remote' %}" class="btn btn-outline-primary">Add Remote</a>
<hr>

<table>
    <tr>
        <th>Cod</th>
        <th>Employee</th>
        <th>Data</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    {% for remote in remotes %}
    <tr>
        <td>{{remote.idRemote}}</td>
        <td>{{remote.employee}}</td>
        <td>{{employee.startDate}}</td>
        <td>|</td>
        <td><a href="{% url 'update-remote' remote.idRemote %}" class="btn btn-outline-warning pull-right">Edit</a></td>
        <td><a href="{% url 'delete-remote' remote.idRemote %}" class="btn btn-outline-danger">Delete</a></td>
        <td><a href="{% url 'remote' remote.idRemote %}" class="btn btn-outline-info" target="_blank">View</a></td>
    </tr>
    

    {% endfor %}

</table>

{% endblock content %}
